<% if(isAuthenticated) { %>
<form action="/cart" method="POST">
    <input type="hidden" value="<%= csrfToken %>" name="_csrf"></input>
    <button class="btn" type="submit">Add to Cart</button>
    <input type="hidden" name="productId" value="<%= product._id %>">
</form>
<% } %>